# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.

#foo.txt
build/
src/release/
src/debug/
src/object_script.Projekt*
Abschluss- projekt/Vorlagen
am100002/

#ignore *.pro.user
*.pro.user
*.pro.user.*
*moc_*

# Ignore log files
*.log

# Ignore (generated) html files,
*.html
*Makefile*

# except foo.html which is maintained by hand.
#!foo.html

# Ignore objects and archives.
*.[oa]